@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v151/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2)
    format('woff2');
}

:root {
  --background: 0 0% 100%;
  --background-accent: 84 20% 95%;
  // --background-accent: 140 60% 98%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;

  --primary: 145 63% 49%;
  // #2ecc70
  // --primary-foreground: 0 0% 100%;
  --primary-foreground: 355.7 100% 97.3%;

  // --secondary: 325 63% 49%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;

  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;

  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 142.1 76.2% 36.3%;
  --radius: 0.375rem;

  --header-height: 64px;
  --global-padding: max(2px, calc(100% / 12));

  --font-family: 'Work Sans', sans-serif;

  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-family);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font: inherit;
}

.icon {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  user-select: none;
}

.btn {
  --_bg: transparent;
  --_color: inherit;
  --_hover-bg: var(--_bg);
  --_hover-color: var(--_color, inherit);

  background-color: var(--_bg);
  color: var(--_color);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-wrap: nowrap;
  border-radius: var(--radius);
  font-weight: 500;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  border: 0;
  cursor: pointer;
  transition: background-color 150ms, color 150ms;

  &:hover {
    background-color: var(--_hover-bg);
    color: var(--_hover-color);
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  &.primary {
    --_bg: hsl(var(--primary));
    --_color: hsl(var(--primary-foreground));
    --_hover-bg: hsl(var(--primary) / 90%);
  }

  &.secondary {
    --_bg: hsl(var(--secondary));
    --_color: hsl(var(--secondary-foreground));
    --_hover-bg: hsl(var(--secondary) / 80%);
  }

  &.outline {
    border: 1px solid hsl(var(--input));
    --_bg: hsl(var(--background));
    --_color: hsl(var(--foreground));
    --_hover-bg: hsl(var(--accent));
    --_hover-color: hsl(var(--accent-foreground));
  }

  &.ghost {
    // --_hover-bg: hsl(var(--accent));
    --_hover-bg: rgba(0, 0, 0, 0.05);
    --_hover-color: hsl(var(--accent-foreground));
  }

  &.icon {
    padding: 0;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  &.link {
    text-underline-offset: 4px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;

  .primary {
    color: hsl(var(--primary));
  }

  & img {
    margin-right: 1rem;
  }
}

#header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  padding: 0 var(--global-padding);
  background-color: hsl(var(--background-accent));
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 150ms, box-shadow 150ms;

  &.scrolled {
    background-color: #fff;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  }

  .left,
  .right {
    display: flex;
    flex-direction: row;
  }

  .left {
    gap: 3rem;
  }

  .right {
    gap: 0.5rem;
  }

  #nav ul {
    display: flex;
    list-style: none;

    .active {
      color: hsl(var(--primary));
    }
  }
}

#footer {
  background-color: hsl(var(--background-accent));
  padding: 3rem var(--global-padding);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 5rem 0.5rem;
  // grid-template: auto auto / 2fr 1fr 1fr 1fr;

  & > section {
    padding-left: 0.8rem;

    &:first-child .logo {
      margin-bottom: 1rem;
    }

    &#socials ul {
      display: flex;
      flex-direction: row;

      & img {
        width: 36px;
      }
    }

    &:last-child {
      grid-column: span 3;
      display: flex;
      align-items: end;
      justify-content: end;
    }

    & > h4 {
      margin-bottom: 0.5rem;
      position: relative;

      &::before {
        content: '';
        width: 2px;
        height: 100%;
        background-color: hsl(var(--primary));
        position: absolute;
        left: -0.8rem;
      }
    }

    & ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      & a:hover {
        text-decoration: underline;
      }
    }
  }
}
